/*


body{
 overflow-x: hidden;
}
*/

@keyframes main_scaleMove{
    0%{
        transform:scale(1,1)
    }
    
    100%{
        transform:scale(10,10)
    }
}

#wrap{
    height: 100%;
    background: #f00;
}


footer{
    top: 0%;
}


section{
    width: 100%;
    height: 100%;
}


article{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.focus_circle{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(../image/wwa/screen_focus.png) center no-repeat;
    background-size:cover;
    transform-origin: 50% 50%;
    animation-name: main_scaleMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    z-index: 10;
}

.focus{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    margin-top: -25%;
    margin-left: -25%;
    background-color: none;
    border-radius: 50%;
    z-index: 11;
}



.year{
    width: 100%;
    font-size: 2em;
    color: #000;
    text-align: center;
}

.slide_over{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}


.slide_container{
    position: relative;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    overflow: hidden;
}

.slide_background1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
/*

.circle_year{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25%;
    margin-left: -25%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    border-radius: 50%;
}


.year_title{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -15px;
    width: 100%;
    height: 30px;
    font-size: 2em;
    color: #fff;
    text-align: center;
}


article:nth-of-type(1){
    background-color: #000;
}


article:nth-of-type(2){
    background-color: #ff0;
}

article:nth-of-type(3){
    background-color: #00f;
}
article:nth-of-type(4){
    background-color: #f0f;
}







.focus_circle{
    position: fixed;
    width: 100%;
    height: 100%;
    clip-path: circle(20% at center); 
    background-clip: border-box;
    background-color: rgba(255,255,255,0.7);
    z-index: 50;
}

*/

/*
.not_focus{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
}
*/
/*

.container{
    width: 100%;
    height:100%;
    padding-bottom: 100%;
}

.dp1_background{
    position: relative;
    top: 0;
    left: 0;
    width: 300%;
}



.history_info{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    width: 100%;
    height: 30px;
    border: 3px solid #ff0;
    z-index: 30;
}
*/
